#footerMain{
    position: relative;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 12rem; 
}

.app__footer-cards{
//    width: 100%;
   display: flex;   
   flex-direction: row; 
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 2rem 2rem;

   .app__footer-card{
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 2rem 1.5rem;
    margin-top: 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fef4f5;

    transition: all 0.3s ease-in-out;

    img{
        width: 40px;
        height: 40px;
        margin: 0 0.7rem;
    }

    a{
        text-decoration: none;
        font-weight: 500;
    }

    &:hover{
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 450px) {
        
    }
   }
   .app__footer-card:nth-child(2){
    background-color: #f2fbf2;
   }
}

.app__footer-form{
    flex-direction: column;
    margin: 1rem 2rem;
    
    div{
        // background-color: #dff7ff;
        width: 100%;
        margin: 0.75rem 0;
        cursor: pointer;
        border-radius: 10px;

        transition: all 0.3s ease-in-out;

        input, textarea{
            width: 20rem;
            padding: 1rem;
            background-color: #e0e4ff;
            border: none;
            border-radius: 10px;
            font-family: var(--font-base);
            color: var(--secondary-color);
            outline: none;

            transition: all 0.3s ease-in-out;

            &:hover{
                box-shadow: 0 0 25px rgba(0,0,0,0.2);
            }
        }

        textarea{
            height: 150px;
        }
        
    }
    button{
        width: 9.5rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        font-weight: 500;
        color: var(--white-color);
        background-color: rgb(110, 144, 255);
        outline: none;
        margin: 1rem 0 0 0 ;
        font-family: var(--font-base);
        cursor: pointer;
        text-align: center;
    }
}   